ENV=local
PORT=9191

# Database
DATABASE_URL="postgresql://<user>:<password>@localhost:<db_port>/<db_name>?schema=public"

# For docker db
# DATABASE_URL="postgresql://<user>:<password>@db:5432/<db_name>?schema=public"

# JWT
ACCESS_TOKEN_SECRET_KEY=<your-access-token-secret>
ACCESS_TOKEN_EXPIRE_IN=5m
REFRESH_TOKEN_SECRET_KEY=<your-refresh-token-secret>
REFRESH_TOKEN_EXPIRE_IN=1d

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
